body {
  background: #808080;
}

#root {
}

.red {
  color: #c00;
}

.black {
  color: #333;
}

.word {
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-top: 8px;
}

.card {
  font-size: 6.0em;
}
